@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --font-sans: 'Montserrat', sans-serif;

  --color-primary-50: var(--color-orange-100);
  --color-primary-100: var(--color-orange-200);
  --color-primary-200: var(--color-orange-300);
  --color-primary-300: var(--color-orange-400);
  --color-primary-400: var(--color-orange-500);
  --color-primary-500: var(--color-orange-600);
  --color-primary-600: var(--color-orange-700);
  --color-primary-700: var(--color-orange-800);
  --color-primary-800: var(--color-orange-900);
  --color-primary-900: var(--color-orange-950);
  --color-primary-950: var(--color-orange-950);
}

body {
  color: var(--color-primary-950);
}

.p-select-option,
.p-select-label {
  white-space: normal !important;
}

p-select {
  .p-overlay {
    width: 100%;
  }
}
